.searchWrapper {
    box-sizing: border-box;
    display: flex;
    margin: 25px auto auto auto;
    height: 50px;
    width: 100%;
}

.searchInput {
    border: 1px solid grey;
    height: 40px;
    width: 90%;
}

.searchIcon {
    width: 30%;
    height: 40px;
    border: 1px solid grey;
}

.searchSize {
    height: 40px;
    width: 100%;
}