.navBar {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  height: 10vh;
  width: 100%;
  color: #404041;
  background: #EFEFEF;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.logo {
  color: #404041;
  height: fit-content;
  font-size: 30px;
}

.material-icons {
  height: fit-content;
  color: #404041;
  font-size: 40px;
}