.AddBusinessWrapper{
    width: 90%;
    margin: 50px auto;
}
.AddBusinessText{
    width: 100%;
    margin: 40px auto;
    font-weight: bolder;
    border-bottom: 2px solid rgb(134, 127, 127);
}
.serviceNprice{
    display: flex;
    width: fit-content;
}
.serviceBoxes{
    display: flex;
    flex-direction: column;
}
.priceBoxes{
    display: flex;
    flex-direction: column;

}
.serviceBox {
    border: none;
    border: 1px solid #CCCCCC;
    height: 30px;
    padding:10px;
    align-self: center;
}

.serviceBox:focus {
    outline: none;
    border-bottom: 2px solid #2196F3;
}

