.AddBusinessWrapper{
    width: 90%;
    margin: 50px auto;
}
.AddBusinessText{
    width: 100%;
    margin: 40px auto;
    font-weight: bolder;
    border-bottom: 2px solid rgb(134, 127, 127);
}