.AddBusinessWrapper {
    width: 90%;
    margin: 50px auto;
}

.AddBusinessText {
    width: 100%;
    margin: 40px auto;
    font-weight: bolder;
    border-bottom: 2px solid rgb(134, 127, 127);
}

.serviceNprice {
    display: flex;
    width: fit-content;
}

.serviceBoxes {
    display: flex;
    flex-direction: column;
}

.priceBoxes {
    display: flex;
    flex-direction: row;
}

.serviceBox {
    border: none;
    border: 1px solid #CCCCCC;
    height: 30px;
    padding: 10px;
    align-self: center;
}

.serviceBoxPrice {
    border: none;
    border: 1px solid #CCCCCC;
    height: 30px;
    padding: 10px;
    width: 70px;
    align-self: center;
}

.serviceBoxPrice:focus {
    outline: none;
    border-bottom: 2px solid #2196F3;
}

.serviceBox:focus {
    outline: none;
    border-bottom: 2px solid #2196F3;
}

.currencySelection {
    border: none;
    height: 30px;
    width: 40px;
    align-self: center;
}

.serviceAmount {
    height: fit-content;
    width: fit-content;
    margin-left: 2px;
    display: flex;
}

.serviceamountManipulation {
    all:unset;
    height: 25px;
    width: 25px;
    margin-left: 2px;
    margin-top: 2px;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    border:2px black solid;
    background: rgba(9, 226, 255, 0.219);
    color:#404041;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.serviceamountManipulation:hover {
    background: rgb(17, 227, 255);
  }