.infoWrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: fit-content;
}

.bubble {
    width: 300px;
    height: 40px;
    border: 4px solid #000000;
    padding: 30px;
    text-align: right;
    color: #00bfb6;
    background: #BAB8B8;
    font-family: arial;
    position: relative;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.bubble:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #BAB8B8;
    border-top: 10px solid #BAB8B8;
    border-bottom: 10px solid transparent;
    right: 24px;
    bottom: -13px;
}

.bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #000000;
    border-top: 10px solid #000000;
    border-bottom: 10px solid transparent;
    right: 20px;
    bottom: -23px;
}

.info {
    font-size: 30px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    height: fit-content;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.infoContentWrapper {
    width: 100%;
    color: rgb(0, 0, 0);
    height: fit-content;
    padding: 0px 5px;
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
}

.infoText {
    text-align: right;
    color: rgb(0, 0, 0);
    line-height: 20px;
    height: fit-content;
    width: 100%;
    padding: 5px 5px 10px 5px;
}

.CloseButton {
    text-align: right;
    font-size: 25px;
    height: fit-content;
    padding-top:2px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}

.jojo {
    color: rgb(224, 0, 0);
}