.AppointmentWrapper {
    height: 100%;
    width: 100%;

}

.AppointImgContainer {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    background:gray;

}
.AppointImg {
    height: 200px;
    width: 100%;
    max-width: 500px;
    border: 3px solid rgb(25, 76, 88);
}

.AppointInfo {
    position: relative;
    left:0;
    width: 100%;
    height: auto;
    display: flex;
    justify-self: left;
}

.AppointName {
    border: 3px solid rgb(25, 76, 88);
    width: 100%;
    /* max-width: 500px; */
    height: fit-content;
    font-size: 100%;
    text-align: center;
    margin:auto;
    padding: 2px;
}

.ServiceSelection {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    
}

.ServiceType {
    margin-top: 8px;
    min-width: 15rem;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    display: flex;
    justify-content: left;
}
.ServiceTypePrice {
    margin-top: 8px;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
}

.serviceCheckbox {
    height: 15px;
    width: 15px;
}

.serviceLocation {
    height: fit-content;
    margin-top: 20px;
    text-align: center;
    border: 2px solid rgb(29, 166, 197);
    border-bottom: none;
}

.locPlaceHolder {
    border: 3px solid rgb(29, 166, 197);
    height: 30%;
    width: 100%;
}

.countinueButton {
    margin-top: 20px;
    height: fit-content;
    width: 50%;
    padding: 10px;
    background: orangered;
    border-radius: 8%;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 700;
}

.countinueButton:hover {
    background: rgb(204, 67, 17);
}
