.header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  height: 5vh;
  width: 100%;
  background: skyblue;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.headerBlock {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  height: 100%;
  width: 100%;
  color: white;
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;

}

.headerBlock:hover {
background: rgb(0, 183, 255);
  
}