.header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  height: 5vh;
  width: 100vw;
  background: skyblue;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.headerBlock {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  height: fit-content;
  width: 100%;
  color: white;
  background: skyblue;
}

.headerBlock:hover {
  background: rgb(90, 180, 216);
  padding: 8px;
}