.AboutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.aboutLogo {
    margin: 25px auto auto auto;
    font-weight: bolder;
    font-size: 2rem;
}

.aboutText {
    margin-top: 30px;
    text-align: center;
    line-height: 1.7;
}