.DashboardWrapper {
    height: 100%;
    width: 100%;
}

.dashboardTitle {
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 3px 5px 2px rgb(0, 0, 0);
    margin-top: 8px;
    margin-bottom: 8px;
    height: fit-content;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
}

.nameNphoto {
    -webkit-box-shadow: 5px 5px 15px 9px rgba(158, 158, 158, 0.23);
    box-shadow: 5px 5px 15px 9px rgba(158, 158, 158, 0.23);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15%;
    border-bottom: 2px skyblue solid;
    border-top: 2px skyblue solid;
}

.userPhoto {
    height: 60%;
    width: 25%;
}

.userName {
    font-weight: 600;
    display: flex;
    height: fit-content;
    width: fit-content;
}

.AppointTitle {
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 3px 5px 1px rgb(19, 19, 19);
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    height: fit-content;
    font-size: 20px;
    font-weight: 600;
}

.AppointmentList {
    height: 100%;
    width: 100%
}

.appointItem {
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 1%;
    margin-right: 1%;
    height: 20%;
    width: 98%;
    background: rgba(236, 233, 230, 0.493);
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.418), rgba(236, 233, 230, 0.411));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.342), rgba(236, 233, 230, 0.377));
    border: 2px solid #EFEFEF;
    -webkit-box-shadow: 5px 5px 15px 9px rgba(158, 158, 158, 0.23);
    box-shadow: 5px 5px 15px 9px rgba(158, 158, 158, 0.23);
    border: 2px solid rgb(197, 188, 188);
}

.topWrapper {
    display: flex;
    height: 10%;
}

.placeName {
    margin-top: 10px;
    margin-left: 15px;
    height: fit-content;
    font-weight: 700;
    width: fit-content;
    background: rgba(128, 128, 128, 0.527);
    font-size: 18px;
    padding: 1px;
    color: rgb(68, 101, 107);
}

.editAppoint {
    height: 10px;
    width: 10px;
    font-size: 20px;
    margin: auto 30px auto auto;
}

.middleWrapper {
    display: flex;
    width: 100%;
    height: 20%;
}

.placePhoto {
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 5px;
    height: 100px;
    width: 120px;
    margin: 25px auto auto 20px;
}

.placeLoc {
    margin: 38px auto auto 10px;
    width: 100%;
    height: fit-content;
}

.appointTime {
    margin-top: 10px;
    background: orange;
    width: fit-content;
    height: fit-content;
}

.cityPos {
    margin: 8px auto auto auto;
    width: 100%;
    height: fit-content;
}